<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Admin page</title>
        <meta charset="utf-8">
        
        <!--Jquery CND-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!--부트스트랩-->
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">\

        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <div class="container">
            <!--nav-->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="/">SEOUL TRASH MAP</a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    <!--페이징 구현하는데 이용한 페이지 : https://abc1211.tistory.com/533 -->
                    <% if (paging.category==0) {
                        %><li class="active"> <%
                        }else{
                        %><li><%
                        }
                        %>
                    <a href="/admin/list?category=0&cur=1">표시x</a></li>

                    <% if (paging.category==1) {
                        %><li class="active"> <%
                        }else{
                        %><li><%
                        }
                        %>
                    <a href="/admin/list?category=1&cur=1">표시o</a></li>
                    
                    <% if (paging.category==2) {
                        %><li class="active"> <%
                        }else{
                        %><li><%
                        }
                        %>
                    <a href="/admin/list?category=2&cur=1">추가요청</a></li>
                    <% if (paging.category==3) {
                        %><li class="active"> <%
                        }else{
                        %><li><%
                        }
                        %>
                    <a href="/admin/list?category=3&cur=1">삭제요청</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                          <a href="/admin/admin_out">로그아웃</a>
                        </li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </nav><!--nav end-->

            <table class="table talbe-striped" >
                <thead>
                    <th>날짜</th>
                    <th>행정구역</th>
                    <th>상세주소</th>
                    <% if (paging.category==3){
                    %><th>삭제요청이유</th>
                    <%
                    }
                    %>
                    <th>카카오맵</th>
                    <th>수정</th>  
                    <th>삭제</th>
                </thead>
                <tbody>
                    <% data.forEach(function (trashcan, index){ %>
                    <tr>
                        <td>
                            <%= trashcan.adit_time.toString().substring(0,10) %>
                        </td>
                        <td>
                            <%= trashcan.gu_name %>
                        </td>
                        <td>
                            <%= trashcan.trash_addr %>
                        </td>
                            <% if (paging.category==3){
                            %><td style="text-overflow:ellipsis;max-width:200px;overflow:hidden;display:inline-block;white-space: nowrap;">
                                <%= trashcan.reason %>
                            </td>
                            <% 
                           }   
                            %>
                        <td>
                            <a href="https://map.kakao.com/link/map/카카오맵에서 위치 확인,<%= trashcan.trash_lat %>, <%= trashcan.trash_lng %>" style="color:blue" target="_blank">카카오맵</a>
                        </td>
                        <td style="width:120px;padding-right: 0px;padding-left: 0px;">
                            <% if (paging.category==0){
                                %>
                                <form action="/admin/visible" method="post">
                                    <input type="hidden" name="id" value='<%= trashcan.id %>'>
                                    <input type="hidden" name="category" value='<%= paging.category %>'>
                                    <input type="hidden" name="curPage" value='<%= paging.curPage %>'>
                                    <input type="submit" value="보이게">
                                </form>
                                <%
                                }
                                else if(paging.category==1){
                                %>
                                <form action="/admin/invisible" method="post">
                                    <input type="hidden" name="id" value='<%= trashcan.id %>'>
                                    <input type="hidden" name="category" value='<%= paging.category %>'>
                                    <input type="hidden" name="curPage" value='<%= paging.curPage %>'>
                                    <input type="submit" value="안보이게">
                                </form>
                                <%
                                }
                                else{
                                %>
                                    <form style="float: left ;margin-right:1px;"action="/admin/visible" method="post">
                                        <input type="hidden" name="id" value='<%= trashcan.id %>'>
                                        <input type="hidden" name="category" value='<%= paging.category %>'>
                                        <input type="hidden" name="curPage" value='<%= paging.curPage %>'>
                                        <input type="submit" value="보이게">
                                    </form>
                                    <form action="/admin/invisible" method="post">
                                        <input type="hidden" name="id" value='<%= trashcan.id %>'>
                                        <input type="hidden" name="category" value='<%= paging.category %>'>
                                        <input type="hidden" name="curPage" value='<%= paging.curPage %>'>
                                        <input type="submit" value="안보이게">
                                    </form>
                                <%
                                }
                                %>
                        </td>
                        <td>
                            <form action="/admin/delete" method="post">
                                <input type="hidden" name="id" value='<%= trashcan.id %>'>
                                <input type="hidden" name="category" value='<%= paging.category %>'>
                                <input type="hidden" name="curPage" value='<%= paging.curPage %>'>
                                <input type="submit" value="삭제">
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
       </div>

       <br>
       <br>

       <div class="text-center">
           <ui class="pagination .bg-light" justify-content="center" >
        <%
        var category = paging.category
        var curSet = paging.curSet
        var endPage = paging.endPage
        var startPage = paging.startPage
        var totalSet = paging.totalSet
        var totalPage = paging.totalPage
        var page_list_size = paging.page_list_size
        var page_size = paging.page_size
        var curPage = paging.curPage
        %>
        <%
            if(curSet >1){
                %>
                <li value=(startPage -1) class="previous">
                    <a href='/admin/list?category=<%= category %>&cur=<%= (startPage - 1) %>'>이전페이지</a>
                </li>
                <%
            }
                %>
                <%
            for(var i = startPage; i <=endPage; i++){
                if(i >totalPage){
                    break;
                }
                if(i == curPage){
                %>
                    <li value=<% i %> background="black" class='active' >
                    <a href='/admin/list?category=<%= category %>&cur=<%= i %>'><%= i %></a>
                    </li>

                    <%
                }
                else{
                    %>
                    <li value=<%= i %> class='' >
                        <a href='/admin/list?category=<%= category %>&cur=<%= i %>'><%= i %></a>
                    </li>

                    <%
                }
                    %>
                <%
            }
                %>
                <%
                if(curSet <totalSet){
                %>
                    <li value=( endPage + 1) class="next">
                        <a href='/admin/list?category=<%= category %>&cur=<%= (endPage + 1) %>'>다음페이지</a>
                    </li>
             <%
            }
            %>
           </ui>
       </div>
        <!--footer-->
       <footer class="footer" style="padding-left:15%; padding-right: 5%; ">
        <div class="container" style="float: left; width:33%">
            <p class="text-muted">2020-2 web/python termproject</p>
        </div>
        <div class="container" style="float: right; width:33%">
            <p class="text-muted">Seoul_Trash_Map v1.0</p>
        </div>
        </footer>
        <!--footer end-->
    </body>
</html>